.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #1e1e1e;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar ul li{
    list-style: none;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border: 1px solid #1e1e1e;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-bar input{
    border: none;
    font-size: 1rem;
    background: transparent;
    outline: none;
    flex-grow: 1;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.rm-pad{
    padding: 0;
}

/* Utitlity classes */
.nav-icons{
    display: none;
}

@media (max-width: 1020px){
    .logo{
        font-size: 1.2rem;
    }
    .nav-icons{
        display: flex;
        gap: 1rem;
    }
    .search-bar{
        display: none;
    }
    .navbar ul{
        display: none;
    }
}

.side-menu{
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 20px;
    background: #fefefe;
    box-shadow: 10px 10px 10px#1e1e1e;
}
.side-menu ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
}
.side-menu a{
    padding: 0;
    width: 100%;
}
.side-menu li{
    border-bottom: 1px solid #1e1e1e;
    padding-bottom: 10px;
    padding-left: 5px;
}

.mb-20{
    margin-bottom: 20px;
}