.main{
    width: 550px;
    margin-top: 20px;
    margin-left: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   
}

.pic{
    text-align: center;
}

.pic img{
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.pic h2{
    margin-top: 10px;
    font-size: 22px;
    transition: transform 0.4s ease, letter-spacing 0.5s ease;
}

.pic h2:hover {
    transform: translateY(-3px);
    letter-spacing: 1px;
    opacity: 1;
}

.table{
    margin-top: 30px;
}

.row{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 12px;
    padding-bottom: 5px;
}

.label{
    font-size: 14px;
    font-weight: bold;
}

.value{
    font-size: 14px;
    
}

.button{
    margin-top: 30px;
    text-align: center;
}

.button button{
    padding: 8px 25px;
    background: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    border-radius: 3px;
}

.update{
    font-size: 11px;
    margin-top: 8px;
    color: gray;
    text-align: center;
    
}

.pic img {
    opacity: 0;
    transform: translateY(15px) scale(0.8);
    animation: ani 0.6s ease-out forwards;
}



@keyframes ani {
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}